@use "../abstracts" as *;

.modal {
  transform: translateX(100%);
  transition: transform var(--transition-duration);

  position: absolute;
  top: 0;
  right: 0;

  width: 100%;
  max-width: 490px;
  border-top-left-radius: 20px;

  padding: var(--spacing-20);

  background: var(--color-white);

  // На случай если нужно сделать blur
  //background-color: rgba(255, 255, 255, 0.9);
  //backdrop-filter: blur(5px);
  min-height: 100%;
  max-height: 100vh;

  overflow: hidden;

  overflow-y: scroll;
  scrollbar-color: var(--color-accent) transparent;


  &.is-active {
    transform: translateX(0%);
  }

  &[data-modal="form"] {
    overflow-y: auto;

    //.modal__inner {
    //  column-gap: 40px;
    //}

    .modal__title {
      visibility: hidden;
      opacity: 0;
    }

    label {
      display: none;
    }

    .modal__intro {
      row-gap: 40px;
    }

    .modal__body {
      row-gap: 20px;
    }
  }



  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
  }

  &__intro {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__close {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 0;

    width: 34px;
    height: 34px;

    border: none;
    border-radius: 50%;

    background-color: var(--color-gray);
    color: var(--color-dark);

    svg {
      width: 16px;
      height: 16px;
    }

    @include hover {
      background-color: var(--color-dark);
      color: var(--color-white);
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    row-gap: 80px;
  }

  &__image {
    overflow: hidden;
    border-radius: 10px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }

  &__title {
    font-family: var(--font-secondary);
    line-height: var(--lh-100);
    font-size: 16px;
    font-weight: 450;
    //padding-left: 18px;
    position: relative;

    display: flex;
    align-items: baseline;
    column-gap: 8px;



    &:before {
      content: '';
      width: 10px;
      height: 10px;
      background-color: var(--color-dark);
      border-radius: 50%;
      flex: none;
    }
  }

  &__text-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  &__team {
    display: flex;
    column-gap: 10px;
    cursor: grab;
  }

  &__team-item {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    flex-shrink: 0;
  }

  &__team-image {
    overflow: hidden;
    border-radius: 50%;

    width: 180px;
    height: 180px;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__team-text-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
  }

  &__projects {
    padding-top: 60px;

    display: flex;
    flex-direction: column;
    row-gap: 20px;

    &-list {
      display: flex;
      flex-direction: column;
      row-gap: 40px;
    }

    &-item {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
    }

    &-info {
      display: flex;
      flex-direction: column;
      row-gap: 8px;
    }

    p {
      max-width: 225px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  &__information{
    a {
      text-decoration: none;
      color: var(--color-gray-dark);

      @include hover {
        color: var(--color-accent);

      }
    }
  }

}